# Docker Service configuration
COMPOSE_FILE_DEFAULT_SET=./docker/services/docker-compose.base.yml
COMPOSE_FILE_DEVELOPMENT_SET=./docker/services/docker-compose.base.yml:./docker/services/docker-compose.local.yml
COMPOSE_FILE=${COMPOSE_FILE_DEFAULT_SET}
COMPOSE_NAME=lego
COMPOSE_RESTART_POLICY=always

#LEGO configuration
LEGO_CONTAINER_NAME=tuzelko/lego
LEGO_CONTAINER_VERSION=latest
LEGO_ADMIN_EMAIL=test@example.com
LEGO_DNS_PROVIDER=cloudflare
LEGO_DNS_PROVIDER_CREDENTIALS_NAME=CF_DNS_API_TOKEN_FILE
LEGO_DNS_PROVIDER_CREDENTIALS_CONTENT=/run/secrets/cf_dns_api_token
LEGO_CERTS_STORAGE_NAME=certs_global_storage